<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Bạn không có quyền truy cập trang này</h2>
        <p>Hãy nhấn vào nút phía dưới để quay lại trang chủ</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Trang chủ</a>
        </p>
    </div>
</div>