@using eMovieTickets.Data.ViewModels;
@model RegisterVM;

@{ ViewData["Title"] = "Confirm order"; }

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Xác nhận đơn hàng</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="CompleteOrder">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>

                    <div class="form-group">
                        <input type="submit" value="Xác nhận" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Trang chủ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>