<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Đặt hàng thành công</h2>
        <p>Bạn có thể kiểm tra tất cả các đơn đặt hàng của mình trong phần Đơn hàng trong hồ sơ của bạn.</p>
        <hr />
        <p>Xin chân thành cảm ơn!</p>
    </div>
</div>